:root {
  --light-mode-bg: rgb(240, 240, 240);
  --light-mode-text: rgb(18, 18, 18);

  --oxblood: #900;
  --charcoal: #323232;
  --heather-gray: #c7c9cc;
  --dark-olive: #596D48;
  --pastel-pink: #FDD;
  --off-white: #f1f1f1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --dark-mode-bg: rgb(18, 18, 18);
    --dark-mode-text: rgb(240, 240, 240);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: hsl(0, 100%, 50% / .1); */
}

html,
body {
  --scrollbar-width: 0px;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-x: hidden;

  background-color: var(--light-mode-bg);
  color: var(--light-mode-text);
}

.content {
  display: grid;
  grid-template: 0.75fr 3fr 0.25fr / repeat(3, 1fr);
  grid-gap: 10px;
  /* grid-template-rows: 1fr 2.5fr 0.5fr; */
  /* grid-template-columns: 0.5fr 3.5fr; */
  /* grid-template-columns: repeat(4, 1fr); */

  /* OPTION: Alternative setup - reactivate 'grid-areas' below & possibly refactor this to work within both the .container below and here in .content (split this code up) */
  /* Read up on grid-template-areas. What do the dots represent on each line below? */
  
  /* grid-template: 200px auto 100px / 1fr 3fr 1fr;
  grid-template-areas: 
    "heading heading heading"
    "sidebar main ."
    "footer . ."; */
}

.content > * {
  padding: 15px;
  font-size: 32px;
  font-weight: bold;
  color: black;
}

/* Search bar styling starts here (NOT the div that the search bar is in)  */
.search #search-text {
  display: block;
  font-family: inherit;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  background-color: #EEE;
  width: 300%;
  height: 30px;

  box-shadow: inset 1px 1px 3px #CCC;
  border-radius: 28px;

  appearance: none;
}

#search-text {
  font-size: 60%;
}